(
    maze: [
        [
            2,
            0,
            0,
            0,
            0,
        ],
        [
            0,
            0,
            0,
            0,
            0,
        ],
        [
            0,
            0,
            0,
            0,
            0,
        ],
        [
            0,
            0,
            0,
            0,
            0,
        ],
        [
            0,
            0,
            0,
            0,
            1,
        ],
    ],
    endpoint: (
        x: 0,
        y: 0,
    ),
    startpoint: (
        x: 4,
        y: 4,
    ),
)